langchain
langchain-community
pypdf
sentence-transformers
google-generativeai
chromadb
streamlit
python-dotenv
langchain-chroma
langchain-huggingface
transformers
torch
sentencepiece
playwright
beautifulsoup4
